<p>Player Name: {{newPlayer.name}}</p>
<div class="row">
  <div class="col-md-6">
    <canvas id="gameBase"></canvas>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <h3>You current score:</h3>
      <h1 [innerHTML]='newPlayer.score'></h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul> High Scores:
          <li *ngFor="let item of scores | async">
            <span *ngIf="item.name">{{item.name}}</span><span *ngIf="!item.name">Anonymous</span> // {{item.score}}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul> Your Recent Scores:
          <li *ngFor="let item of recentScores">
            {{item.score}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
