<p>Player Name: {{newPlayer.name}}</p>
<div class="row">
  <div class="col-xs-9">
    <canvas id="gameBase"></canvas>
  </div>
  <div class="col-xs-3">
    <div class="jumbotron">
      <h3>You current score:</h3>
      <h1 [innerHTML]='newPlayer.score'></h1>
    </div>
    <div class="row">
      <div class="well col-xs-6">
        <ul> High Scores:
          <li *ngFor="let item of scores | async">
            {{item.name}} // {{item.score}}
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul> Your Recent Scores:
          <li *ngFor="let item of recentScores">
            {{item.score}}
          </li>
        </ul>
      </div>
    </div>
        <!-- <ul> High Scores!
      <li *ngFor="let item of gameBoard.highScores">
        {{item}}
      </li>
    </ul> -->
  </div>
</div>
